*, *::before, *::after {
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --green: #234729;
    --gold: #FFB900;
}

body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;

      /* testing parchment background */
      background-image: url("./assets/images/mbp16_parchment_1_overlay.jpg");
      background-size: contain;

      overscroll-behavior: none;
}



h1,
h2,
h3, 
nav a {
    font-family: "Milonga", serif;
}

/* Utility Outline Classes */

/* .outline-hot-pink {
    border: 5px dotted hotpink;
}

.outline-lime-green {
    border: 5px dotted limegreen;
}

.outline-purple {
    border: 5px dotted purple;
} */

.drop-shadow {
    /* box shadow --- revisit laters */
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* util classes end */

/* Nav */

.navbar,
.navbar * {
  transition: 500ms;
}
.navbar {
    position: sticky;
    top: 0;
}

.navbar.sticking {
    
    padding: 0px 20px;
}
.navbar,
footer {
    background-image: url(assets/images/Dragon\ Scale\ Foley\ 01.png);
    background-color: var(--green);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
}

nav ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--gold);
    text-shadow: 1px 1px 2px #000;
    /* outline stroke for text is experimental -- might not be the best approach? */
    -webkit-text-stroke: .5px #000;

    font-size: 32px;
}

nav button {
    font-family: "Milonga", serif;
    font-size: 24px;
    /* NOTE: CHANGE THIS TO AN OFF-BLACK */
    color: #000;
    background: var(--gold);
    border: none;
    padding: 12px 12px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ffd45d;
}

nav a:hover {
   color: #ffd45d;
}

/* Main */
main {
    padding: 0 72px;
}

/* Sections */

section {
    margin-bottom: 148px;
    scroll-margin-top: 200px;
}



/* Hero */

/*
    Questions about image fill backgrounds:

    - Is this accessible or the best approach for a11y?
    - Is this the best pratice way for me to achieve this given the textured background for the entire website?

*/
.hero {
    background-image: url(assets/images/DragonsTrovePress-Watermark-Hero-Logo.png);
    background-repeat: no-repeat;
    /* Turning off contain since this increases the img size */
    /* background-size: contain; */
    background-position: center;

    padding: 200px;

    text-align: center;
}

.hero-logo {
    z-index: -1;
    position: absolute;
}

h1 {
    font-size: 96px;
    margin: 0;
}
.hero-intro-text{
    font-family: "Milonga", serif;
    font-size: 48px;
}

.hero-tagline-text {
    font-family: "Milonga", serif;
    font-size: 36px;
}


/* Story */

/* Note: this H2, p are general text style and can likely be moved elsewhere */
h2 {
    font-size: 60px;
}


p {
    font-size: 20px;
    line-height: 35px;
}

.story-section-title {
    margin-bottom: 0;
}

.story-content-text {
    width: 50%;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tomes Section */

.upcoming-tomes-text {
    font-size: 48px;
    margin-top: 0;
}

.book-card {
    display: flex;
    gap: 36px;

    margin-bottom: 48px;

}

.book-description-panel {
    background-color: #FFEAB1;

    padding: 24px 42px;
}

.book-title {
    font-size: 32px;
    font-weight: bold;
}

.book-credits {
    font-size: 20px;
    font-weight: 600;
}

.heading-text-utility {
    font-family: "Milonga", serif;
    font-size: 24px;
}
